@{
    ViewData["Title"] = "Home Page";
}


<!-- Start slider -->
<section id="slider">
    <div class="main-slider">
        <div class="single-slide">
            <img src="~/images/slider-1.jpg" alt="img">
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">طراحی خلاقانه و ویژگی عالی</h1>
                                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">مشاهده بیشتر</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="slider-img wow fadeInUp">
                                <img src="~/images/person1.png" alt="business man">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide">
            <img src="~/images/slider-3.jpg" alt="img">
            <div class="slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="slide-article">
                                <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">ما بهترین تیم پشتیبانی برای شما هستیم</h1>
                                <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">مشاهده بیشتر</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="slider-img wow fadeInUp">
                                <img src="~/images/person2.png" alt="business man">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End slider -->
<!-- Start Feature -->
<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">ویژگی ها</h2>
                    <span class="line"></span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feature-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa fa-leaf feature-icon"></i>
                                <h4 class="feat-title">طراحی خلاقانه</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa fa-mobile feature-icon"></i>
                                <h4 class="feat-title">طرح واکنش گرا</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa fa-thumbs-o-up feature-icon"></i>
                                <h4 class="feat-title">ویژگی های عالی</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa fa-gears feature-icon"></i>
                                <h4 class="feat-title">تنظیمات چندگانه</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa fa-code feature-icon"></i>
                                <h4 class="feat-title">کدنویسی استاندارد</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature wow zoomIn">
                                <i class="fa fa-smile-o feature-icon"></i>
                                <h4 class="feat-title">پشتیبانی همه جانبه</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Feature -->
<!-- Start about  -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">درباره ما</h2>
                    <span class="line"></span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="about-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="our-skill">
                                <h3>توانایی های ما</h3>
                                <div class="our-skill-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="100">
                                            <span class="progress-title">Html5</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="85">
                                            <span class="progress-title">Css3</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="70">
                                            <span class="progress-title">JQuery</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="60">
                                            <span class="progress-title">wordPress</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="40">
                                            <span class="progress-title">Php</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" data-transitiongoal="25">
                                            <span class="progress-title">Java</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="why-choose-us">
                                <h3>چرا انتخاب ما؟</h3>
                                <div class="panel-group why-choose-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    طراحی همه جانبه <span class="fa fa-minus-square"></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <img class="why-choose-img" src="~/images/testi3.jpg" alt="img">
                                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردها</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default ">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    کدنویسی استاندارد<span class="fa fa-plus-square"></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردها</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                    پشتیبانی عالی<span class="fa fa-plus-square"></span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردها</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->
<!-- Start counter -->
<section id="counter">
    <div class="counter-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="counter-area">
                        <div class="row">
                            <!-- Start single counter -->
                            <div class="col-md-3 col-sm-6">
                                <div class="single-counter">
                                    <div class="counter-icon">
                                        <i class="fa fa-suitcase"></i>
                                    </div>
                                    <div class="counter-no counter">
                                        1275
                                    </div>
                                    <div class="counter-label">
                                        پروژه ها
                                    </div>
                                </div>
                            </div>
                            <!-- End single counter -->
                            <!-- Start single counter -->
                            <div class="col-md-3 col-sm-6">
                                <div class="single-counter">
                                    <div class="counter-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="counter-no counter">
                                        5275
                                    </div>
                                    <div class="counter-label">
                                        ساعت کار
                                    </div>
                                </div>
                            </div>
                            <!-- End single counter -->
                            <!-- Start single counter -->
                            <div class="col-md-3 col-sm-6">
                                <div class="single-counter">
                                    <div class="counter-icon">
                                        <i class="fa fa-trophy"></i>
                                    </div>
                                    <div class="counter-no counter">
                                        350
                                    </div>
                                    <div class="counter-label">
                                        امتیازات
                                    </div>
                                </div>
                            </div>
                            <!-- End single counter -->
                            <!-- Start single counter -->
                            <div class="col-md-3 col-sm-6">
                                <div class="single-counter">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="counter-no counter">
                                        875
                                    </div>
                                    <div class="counter-label">
                                        مشتری ها
                                    </div>
                                </div>
                            </div>
                            <!-- End single counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End counter -->
<!-- Start Service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">سرویس های ما</h2>
                    <span class="line"></span>
                    <p>با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="service-content">
                    <div class="row">
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-desktop service-icon"></i>
                                <h4 class="service-title">توسعه دهنده وب</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنام.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-paw service-icon"></i>
                                <h4 class="service-title">طراحی دیجیتال</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنام.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-magic service-icon"></i>
                                <h4 class="service-title">فروشگاه</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنام.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-shopping-cart service-icon"></i>
                                <h4 class="service-title">تجارت الکترونیکی</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنام.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-mobile service-icon"></i>
                                <h4 class="service-title">توسعه دهنده نرم افزار</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنام.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-rocket service-icon"></i>
                                <h4 class="service-title">سئو</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنام.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<!-- Start Pricing table -->
<section id="pricing-table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">جدول قیمت های ما</h2>
                    <span class="line"></span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pricing-table-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-table-price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                                <div class="price-header">
                                    <span class="price-title">پایه</span>
                                    <div class="price">
                                        25
                                        <sup class="price-up">هزار تومان</sup>
                                        <span class="price-down">/ ماه</span>
                                    </div>
                                </div>
                                <div class="price-article">
                                    <ul>
                                        <li>2 گیگ فضا</li>
                                        <li>10 گیگ پهنای باند</li>
                                        <li>دامنه رایگان</li>
                                        <li>ایمیل رایگان</li>
                                        <li>پشتیبانی حرفه ای</li>
                                    </ul>
                                </div>
                                <div class="price-footer">
                                    <a class="purchase-btn" href="#">سفارش</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-table-price wow fadeInUp" data-wow-duration="0.75s" data-wow-delay="0.75s">
                                <div class="price-header">
                                    <span class="price-title">معمولی</span>
                                    <div class="price">
                                        50
                                        <sup class="price-up">هزار تومان</sup>
                                        <span class="price-down">/ ماه</span>
                                    </div>
                                </div>
                                <div class="price-article">
                                    <ul>
                                        <li>2 گیگ فضا</li>
                                        <li>10 گیگ پهنای باند</li>
                                        <li>دامنه رایگان</li>
                                        <li>ایمیل رایگان</li>
                                        <li>پشتیبانی حرفه ای</li>
                                    </ul>
                                </div>
                                <div class="price-footer">
                                    <a class="purchase-btn" href="#">سفارش</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-table-price featured-price wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="price-header">
                                    <span class="price-title">حرفه ای</span>
                                    <div class="price">
                                        75
                                        <sup class="price-up">هزار تومان</sup>
                                        <span class="price-down">/ ماه</span>
                                    </div>
                                </div>
                                <div class="price-article">
                                    <ul>
                                        <li>2 گیگ فضا</li>
                                        <li>10 گیگ پهنای باند</li>
                                        <li>دامنه رایگان</li>
                                        <li>ایمیل رایگان</li>
                                        <li>پشتیبانی حرفه ای</li>
                                    </ul>
                                </div>
                                <div class="price-footer">
                                    <a class="purchase-btn" href="#">سفارش</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-table-price wow fadeInUp" data-wow-duration="1.15s" data-wow-delay="1.15s">
                                <div class="price-header">
                                    <span class="price-title">اختصاصی</span>
                                    <div class="price">
                                        100
                                        <sup class="price-up">هزار تومان</sup>
                                        <span class="price-down">/ ماه</span>
                                    </div>
                                </div>
                                <div class="price-article">
                                    <ul>
                                        <li>2 گیگ فضا</li>
                                        <li>10 گیگ پهنای باند</li>
                                        <li>دامنه رایگان</li>
                                        <li>ایمیل رایگان</li>
                                        <li>پشتیبانی حرفه ای</li>
                                    </ul>
                                </div>
                                <div class="price-footer">
                                    <a class="purchase-btn" href="#">سفارش</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing table -->
<!-- Start Pricing table -->
<section id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">تیم ما</h2>
                    <span class="line"></span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="our-team-content">
                    <div class="row">
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="~/images/team-member-2.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>نام شخص</p>
                                    <span>سئوکار</span>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و.</p>
                                <div class="team-member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="~/images/team-member-3.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>نام شخص</p>
                                    <span>گرافیست</span>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و.</p>
                                <div class="team-member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="~/images/team-member-2.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>نام شخص</p>
                                    <span>کد نویس</span>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و.</p>
                                <div class="team-member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                        <!-- Start single team member -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-member-img">
                                    <img src="~/images/team-member-3.png" alt="team member img">
                                </div>
                                <div class="team-member-name">
                                    <p>نام شخص</p>
                                    <span>توسعه دهنده</span>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و.</p>
                                <div class="team-member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Start single team member -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing table -->
<!-- Start Testimonial section -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-area">
                            <h2 class="title">مشتریان چه می گویند؟</h2>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- Start testimonial slider -->
                        <div class="testimonial-slider">
                            <!-- Start single slider -->
                            <div class="single-slider">
                                <div class="testimonial-img">
                                    <img src="~/images/testi3.jpg" alt="testimonial image">
                                </div>
                                <div class="testimonial-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کا.</p>
                                    <h6>نام شخص، <span>مدیر سایت</span></h6>
                                </div>
                            </div>
                            <!-- Start single slider -->
                            <div class="single-slider">
                                <div class="testimonial-img">
                                    <img src="~/images/testi3.jpg" alt="testimonial image">
                                </div>
                                <div class="testimonial-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کا.</p>
                                    <h6>نام شخص، <span>مدیر سایت</span></h6>
                                </div>
                            </div>
                            <!-- Start single slider -->
                            <div class="single-slider">
                                <div class="testimonial-img">
                                    <img src="~/images/testi3.jpg" alt="testimonial image">
                                </div>
                                <div class="testimonial-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کا.</p>
                                    <h6>نام شخص، <span>مدیر سایت</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
<!-- End Testimonial section -->
<!-- Start Clients brand -->
<section id="clients-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="clients-brand-area">
                    <ul class="clients-brand-slide">
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/amazon.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/discovery.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/envato.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/tuenti.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/amazon.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/discovery.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/envato.png" alt="img">
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="single-brand">
                                <img src="~/images/tuenti.png" alt="img">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Clients brand -->
<!-- Start latest news -->
<section id="latest-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h2 class="title">آخرین اخبار</h2>
                    <span class="line"></span>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="latest-news-content">
                    <div class="row">
                        <!-- start single latest news -->
                        <div class="col-md-4">
                            <article class="blog-news-single">
                                <div class="blog-news-img">
                                    <a href="blog-single-with-right-sidebar.html"><img src="~/images/blog-img-1.jpg" alt="image"></a>
                                </div>
                                <div class="blog-news-title">
                                    <h2><a href="blog-single-with-right-sidebar.html">عنوان این خبر</a></h2>
                                    <p>توسط <a class="blog-author" href="#">نام نویسنده</a> <span class="blog-date">| 30 خرداد 1395</span></p>
                                </div>
                                <div class="blog-news-details">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچن</p>
                                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">مشاهده بیشتر<i class="fa fa-long-arrow-left"></i></a>
                                </div>
                            </article>
                        </div>
                        <!-- start single latest news -->
                        <div class="col-md-4">
                            <article class="blog-news-single">
                                <div class="blog-news-img">
                                    <a href="blog-single-with-right-sidebar.html"><img src="~/images/blog-img-2.jpg" alt="image"></a>
                                </div>
                                <div class="blog-news-title">
                                    <h2><a href="blog-single-with-right-sidebar.html">عنوان این خبر</a></h2>
                                    <p>توسط <a class="blog-author" href="#">نام نویسنده</a> <span class="blog-date">| 30 خرداد 1395</span></p>
                                </div>
                                <div class="blog-news-details">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچن</p>
                                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">مشاهده بیشتر<i class="fa fa-long-arrow-left"></i></a>
                                </div>
                            </article>
                        </div>
                        <!-- start single latest news -->
                        <div class="col-md-4">
                            <article class="blog-news-single">
                                <div class="blog-news-img">
                                    <a href="blog-single-with-right-sidebar.html"><img src="~/images/blog-img-3.jpg" alt="image"></a>
                                </div>
                                <div class="blog-news-title">
                                    <h2><a href="blog-single-with-right-sidebar.html">عنوان این خبر</a></h2>
                                    <p>توسط <a class="blog-author" href="#">نام نویسنده</a> <span class="blog-date">| 30 خرداد 1395</span></p>
                                </div>
                                <div class="blog-news-details">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچن</p>
                                    <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">مشاهده بیشتر<i class="fa fa-long-arrow-left"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest news -->