@font-face {
	font-family: "20S-Yekan";
	src: url(fonts/20S-Yekan.eot);
	src: url(fonts/20S-Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/20S-Yekan.woff) format("woff"), url(fonts/20S-Yekan.ttf) format("truetype"), url(fonts/20S-Yekan.svg#B20S-Yekan) format("svg");
	font-weight: normal;
	font-style: normal
}